<div style="height:600px; font-size: 50%">
<ngx-charts-tree-map
[view]="view"
[scheme]="colorScheme"
[results]="single"
(select)="onSelect($event)">
</ngx-charts-tree-map>
</div>

<hr/>
<div>
<a href="https://swimlane.gitbooks.io/ngx-charts/content/charts/tree-map.html">
  bobo
</a>

<a href="https://swimlane.github.io/ngx-charts/#/ngx-charts/tree-map">
  bobo
</a>
<br/>
<a  [routerLink]="['/detail', 321]">rlink</a>
<nav>
  <a routerLink="/detail">detail</a>
  <a routerLink="/detail/z444">get coupon</a>    
</nav>
  <router-outlet></router-outlet>

</div>