<div style="color: gray">
<!--
    <app-charttwo></app-charttwo>
-->

<md-toolbar style="font-size: 40%" color="primary">
    <span>v0.12</span>       
    <md-icon class="example-icon">favorite</md-icon>
    <button md-button id="admin" name="admin" md-raised-button (click)="adminTown($event)">Admin</button>
    <span class="example-spacer"></span>
    <button md-raised-button color="accent" (click)="adminAddStoreDetail()">Add a Store</button>
    <md-icon class="example-icon">delete</md-icon>        
</md-toolbar>       
<router-outlet></router-outlet>
<span style="font-size: 40%">&copy; 2017 Gracy girl enterprises</span> 
</div>
